html, body, blockquote, p, .full-width-section > .col.span_12.dark .nectar-post-grid[data-text-color=dark] .nectar-post-grid-item .content *, .nectar-post-grid[data-text-color=dark] .nectar-post-grid-item .content * {
    -webkit-font-smoothing: antialiased !important;
    text-rendering: optimizeLegibility !important;
}

.nectar_single_testimonial[data-style=small_modern] p span {
    font-size: 110px;
    color: #ff1053;
}

p {
    color: #566C82 !important;
}

.testimonial_slider[data-style*=multiple_visible] blockquote.is-selected p {
    color: #ffffff !important;
}

.nectar_single_testimonial .wrap, .testimonial_slider[data-style=multiple_visible_minimal] .wrap {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.03em;
    font-style: normal !important;
    font-size: 14px;
}


.grecaptcha-badge {
    visibility: hidden !important;
}

.nectar-rotating-words-title.element_stagger_words .beginning-text span {
    line-height: 0.8 !important;
}

.nectar-post-grid-wrap .load-more-wrap {
    text-align: left;
}

.nectar_widget[class*=nectar_blog_posts_] > li .post-title {
    font-weight: 700;
}

.nectar-fancy-ul a, p {
    color: #566C82 !important;
}

.nectar-fancy-ul ul li {
    padding-left: 28px;
}

.nectar_team_member_overlay {
    background-color: #FFFFFF;
}

/*.nectar_team_member_overlay[data-style=bio-fullscreen-alt] .team_member_details .title {
color: white !IMPORTANT;
}

.nectar_team_member_overlay[data-style=bio-fullscreen-alt] .team_member_details h2 {
color: white;
}

.nectar_team_member_overlay[data-style=bio-fullscreen-alt] .team_member_details h4 {
color: white;
}

.nectar_team_member_overlay[data-style=bio-fullscreen-alt] .team_member_details p {
color: rgba(255,255,255,0.65) !Important;
}*/

.team-member[data-style=bio_fullscreen_alt] .team-meta {
    display: flex;
    flex-direction: column-reverse !important;
}

.row .team-member[data-style=bio_fullscreen_alt] h5, .nectar_team_member_overlay[data-style=bio-fullscreen-alt] .team_member_details .title {
    color: #8094B5;
}

body [class^=icon-].icon-default-style {
    color: #FFF;
}


.single #page-header-bg #single-below-header span {
    text-transform: uppercase;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.2em;
}

body[data-fancy-form-rcs="1"] .select2-container--default .select2-selection--single .select2-selection__rendered {
    letter-spacing: 0.01em;
    text-transform: initial;
    font-size: 15px;
    font-weight: 400;
}

.row .team-member[data-style=bio_fullscreen_alt] h5, .nectar_team_member_overlay[data-style=bio-fullscreen-alt] .team_member_details .title {
    text-transform: uppercase !important;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.2em;
}

.team-member .position {
    text-transform: uppercase !important;
    line-height: 16px;
    font-size: 10px !important;
    letter-spacing: 1.4px !important;
    color: #8094B5;
    font-weight: 700;
    margin-top: 10px;
}

.team-member h4 {
    font-size: 22px !important;
    letter-spacing: -0.6px !important;
    margin: 24px 0 10px 0;
}

/*.nectar_team_member_overlay .bottom_meta a:hover i {
color: #fff;
}*/

.wpcf7-form .wpcf7-not-valid-tip {
    padding: 12px 16px 12px 16px;
    font-size: 14px;
    color: red !important;
    letter-spacing: 0.4px;
    text-transform: none;
}

.wpcf7 form.invalid .wpcf7-response-output, .wpcf7 form.unaccepted .wpcf7-response-output, .wpcf7 form.payment-required .wpcf7-response-output, .wpcf7 form .wpcf7-response-output {
    font-size: 14px;
    color: red !important;
    text-transform: none !important;
    line-height: 16px;
    letter-spacing: 0.03em;
    border-color: red;
    padding: 10px;
    margin: 0;
}

.testimonial_slider:not([data-style="minimal"]) blockquote span {
    font-style: normal;
}

.nectar-cta[data-style=arrow-animation] .link_wrap .link_text > .text {
    letter-spacing: -0.01em;
    text-transform: initial;
    font-size: 15px;
    font-weight: 400;
}

.ascend #author-bio .nectar-button:not(:hover), body[data-button-style^="rounded"].ascend .container-wrap input[type="submit"],
body[data-button-style^=rounded] .nectar-post-grid-filters h4, body[data-button-style^=rounded] .nectar-post-grid-wrap .load-more, body[data-button-style^=rounded] .nectar-post-grid-wrap .load-more:before {
    letter-spacing: -0.01em;
    text-transform: initial;
    font-size: 15px;
    font-weight: 400;
    border-width: 1px;
    border-color: #cccccc !important;
}

.single #ajax-content-wrap .post-area .content-inner > .post-tags a {
    font-size: 14px !important;
    text-transform: initial;
    font-weight: 400 !important;
    letter-spacing: -0.01em;
    border-radius: 8px;
    padding: 8px 16px 8px 16px;
}


body .container-wrap input[type=search] {
    margin-right: 10px;
}

.nectar-fancy-ul ul li {
    margin-bottom: 4px;
}

div[data-style="minimal"] .toggle {
    border-bottom: 1px solid rgba(0, 0, 0, 0.09);
}

div[data-style*=minimal] .toggle > .toggle-title i {
    width: 27px;
    height: 27px;
    border: 1px solid #c7c7c7;
}

div[data-style="minimal"] .toggle > .toggle-title i:before {
    height: 1px;
}

div[data-style="minimal"] .toggle > .toggle-title i:after {
    width: 1px;
}

body .container-wrap input[type=text], body .container-wrap input[type=email], body .container-wrap input[type=password], body .container-wrap input[type=tel], body .container-wrap input[type=url], body .container-wrap input[type=search], body .container-wrap input[type=date], body .container-wrap input[type=number], body .container-wrap textarea, .woocommerce #coupon_code {
    border-radius: 4px;
}

#footer .nectar-shape-divider-wrap {
    display: none;
}

.nectar-button.large.see-through, body .nectar-button.large.see-through-2, body .nectar-button.large.see-through-3 {
    border-width: 1px !important;
}


.nectar-button.large {
    font-size: 12px !important;
}

body .nectar-milestone .subject {
    font-size: 14px;
    font-weight: 600;
}

#header-outer[data-box-shadow="large"] .contactbutton {
    font-size: 12px;
    letter-spacing: 1.5px;
    font-weight: 600;
    text-transform: uppercase;
    border: 1px solid #8094B5;
    padding: 15px 22px 15px 22px;
    border-radius: 4px;
    color: #0C3557;
    margin-right: -30px;
}

#header-outer[data-box-shadow="large"] .contactbutton:hover {
    border: 1px solid #2ecc71;
    text-decoration: none;
    background: #2ecc71;
    color: #fff;
}

#header-outer[data-box-shadow="large"] .contactbutton:after {
    content: inherit;
}

#header-outer[data-box-shadow="large"] .nectar-header-text-content a:after {
    background-color: #2ecc71 !important;
}

#header-outer[data-transparent-header="true"].transparent .contactbutton {
    font-size: 12px;
    letter-spacing: 1.5px;
    font-weight: 600;
    text-transform: uppercase;
    border: 1px solid #fff;
    padding: 15px 22px 15px 22px;
    border-radius: 4px;
    color: #FFFFFF;
    margin-right: -30px;
}


#header-outer[data-transparent-header="true"].transparent .contactbutton:hover {
    border: 1px solid #2ecc71;
    text-decoration: none;
    background: #2ecc71;
}

#header-outer[data-transparent-header="true"].transparent .contactbutton:after {
    content: inherit;
}

#header-outer[data-transparent-header="true"].transparent .nectar-header-text-content a:after {
    background-color: #2ecc71 !important;
}

.testimonial_slider blockquote p {
    color: #0C3557 !important;
}

.testimonial_slider[data-style="minimal"] .testimonial-next-prev .prev, .testimonial_slider[data-style="minimal"] .testimonial-next-prev .next {
    color: #2ecc71;
}

.ascend .container-wrap .span_12.light input[type=date], .ascend .container-wrap .span_12.light input[type=email], .ascend .container-wrap .span_12.light input[type=number], .ascend .container-wrap .span_12.light input[type=password], .ascend .container-wrap .span_12.light input[type=search], .ascend .container-wrap .span_12.light input[type=tel], .ascend .container-wrap .span_12.light input[type=text], .ascend .container-wrap .span_12.light input[type=url], .ascend .container-wrap .span_12.light select, .ascend .container-wrap .span_12.light textarea, .span_12.light .select2-container--default .select2-selection--single, body[data-fancy-form-rcs="1"] .span_12.light .select2-container--default .select2-selection--single {
    background-color: #F4F3F1;
    color: #0C3557;
}

input::placeholder {
    opacity: 0.5;
    color: #0C3557;
    font-size: 16px;
}

body[data-form-submit="see-through"] input[type=submit] {
    border: 1px solid #2ecc71;
    text-decoration: none;
    background: #2ecc71 !important;
    color: #fff !important;
}

body[data-form-submit="see-through"] input[type=submit]:hover {
    letter-spacing: 1.5px;
    font-weight: 600;
    text-transform: uppercase;
    border: 1px solid #8094B5;
    padding: 15px 22px 15px 22px;
    border-radius: 4px;
    color: #0C3557;
}

.footer-header a {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -0.2px;
    line-height: 35px;
    color: #0C3557 !important;
    text-decoration: none !important;
}

.footer-header a:hover {
    color: #2ecc71 !important;
    text-decoration: underline;
}

.content-links a {
    text-decoration: none !important;
}

.content-links a:hover {
    text-decoration: none !important;
    color: #2ecc71 !important;
}


.footer-body a {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.2px;
    line-height: 1.2;
    color: #0C3557 !important;
    text-decoration: none !important;
}

.footer-body a:hover {
    color: #2ecc71 !important;
    text-decoration: underline;
}

.footer-contact-header p {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -0.2px;
    line-height: 35px;
    color: #0C3557 !important;
    text-decoration: none !important;
}

.footer-contact-body p {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.2px;
    line-height: 2;
    color: #0C3557 !important;
    text-decoration: none !important;
}

.wpb_wrapper > div {
    margin-bottom: 16px;
}

.container-wrap input[type=text], .container-wrap input[type=email], .container-wrap input[type=password], .container-wrap input[type=tel], .container-wrap input[type=url], .container-wrap input[type=search], .container-wrap input[type=date], .container-wrap input[type=number], .container-wrap textarea, .container-wrap select, body > #review_form_wrapper.modal input[type=text], body > #review_form_wrapper.modal textarea, body > #review_form_wrapper.modal select, body > #review_form_wrapper.modal input[type=email], .select2-container--default .select2-selection--single, body[data-fancy-form-rcs="1"] .select2-container--default .select2-selection--single, .woocommerce input#coupon_code, .material.woocommerce-page[data-form-style="default"] input#coupon_code, body[data-form-style="minimal"] input[type="text"], body[data-form-style="minimal"] textarea, body[data-form-style="minimal"] input[type="email"], body[data-form-style="minimal"] input[type=password], body[data-form-style="minimal"] input[type=tel], body[data-form-style="minimal"] input[type=url], body[data-form-style="minimal"] input[type=search], body[data-form-style="minimal"] input[type=date], body[data-form-style="minimal"] input[type=number], body[data-form-style="minimal"] select {
    background-color: #F4F3F1;
    border-color: #F4F3F1;
}

.container-wrap input[type=text]:hover, .container-wrap input[type=email]:hover, .container-wrap input[type=password]:hover, .container-wrap input[type=tel]:hover, .container-wrap input[type=url]:hover, .container-wrap input[type=search]:hover, .container-wrap input[type=date]:hover, .container-wrap input[type=number]:hover, .container-wrap textarea:hover, .container-wrap select:hover, body > #review_form_wrapper.modal input[type=text]:hover, body > #review_form_wrapper.modal textarea:hover, body > #review_form_wrapper.modal select:hover, body > #review_form_wrapper.modal input[type=email]:hover, .select2-container--default .select2-selection--single:hover, .woocommerce input#coupon_code:hover, .material.woocommerce-page[data-form-style="default"] input#coupon_code:hover, body[data-form-style="minimal"] input[type="text"]:hover, body[data-form-style="minimal"] textarea:hover, body[data-form-style="minimal"] input[type="email"]:hover, body[data-form-style="minimal"] input[type=password]:hover, body[data-form-style="minimal"] input[type=tel]:hover, body[data-form-style="minimal"] input[type=url]:hover, body[data-form-style="minimal"] input[type=search]:hover, body[data-form-style="minimal"] input[type=date]:hover, body[data-form-style="minimal"] input[type=number]:hover, body[data-form-style="minimal"] select:hover {
    border-color: #2ecc71;
    color: #0C3557;
}

form label {
    color: #0C3557;
    margin-bottom: 10px;
}

.container-wrap[data-nav-pos="after_project_2"] .bottom_controls .next-project:hover:after, .container-wrap[data-nav-pos="after_project_2"] .bottom_controls .previous-project:hover:after {
    background-color: #0C3557;
}

.footer-copyright a {
    text-decoration: none;
}


.footer-copyright a:hover {
    color: #2ecc71 !important;
    text-decoration: none;
}

.testimonial-name {
    letter-spacing: 2.2px !important;
    text-transform: uppercase;
    font-size: 16px !important;
    font-weight: 700 !important;
    color: #2ecc71;
}


.nectar-flickity[data-controls=material_pagination] .flickity-page-dots .dot:before {
    width: 6px;
    height: 6px;
    transition: all .25s ease;
    border-radius: 0;
    margin-left: 11px;
    background-color: #D9D9D9 !important;
    box-shadow: none;
    border: none;
}

.nectar-flickity[data-controls=material_pagination] .flickity-page-dots .dot {
    opacity: 1;
}

.nectar-flickity[data-controls=material_pagination] .flickity-page-dots .dot.is-selected:before {
    transform: scale(1) !important;
    box-shadow: none !important;
    background-color: #2ecc71 !important;
}

.wpcf7-list-item-label {
    font-size: 13px !important;
    font-weight: 500 !important;
    color: #0C3557 !important;
    text-transform: none !important;
    letter-spacing: 0.01px;
    margin-left: 4px;
}

.wpcf7-form.invalid .checkbox {
    color: red;
}

.wpcf7-form .nectar-wpcf7-inline-form .emailphone-field {
    margin-top: -30px !important;
}

.nectar-button.large.see-through {
    border-color: #8094B5 !important;
}


.nectar_team_member_overlay .bottom_meta a i {
    color: #2ecc71 !important;
}

.nectar-milestone .number {
    font-family: 'Inter';
    font-weight: 600;
    letter-spacing: -2.2px;
}

.wpcf7-list-item {
    margin-left: 0 !important;
}

.tabbed[data-style="vertical_modern"][data-color-scheme="accent-color"] .wpb_tabs_nav li .active-tab, .tabbed[data-style="vertical_modern"] .wpb_tabs_nav li a {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2.4px;
    line-height: 20px;
}


@media only screen and (max-width: 749px) {
    .nectar-button {
        width: 100%;
        text-align: center;
    }

    body #slide-out-widget-area .inner-wrap .inner .nectar-header-text-content {
        display: none;
    }


    .form-phone {
        margin-top: 15px;
    }

    .form-email {
        margin-top: -10px !important;
    }


}
